<nav>
	<div class='site-title'>
		<a href='/'>My Blog</a>
		<p>Pradeep's fullstack website</p>
	</div>

	<ul>
		<li> <a href="/">Home</a></li>
		<li> <a href="/about">About</a></li>
		<li> <a href="">Add Blog</a></li>
	</ul>
</nav>
